<!doctype html>
<header>
    {% block header %}
    <meta charset="utf-8">
    {% block title %}
    <title> Anasayfa - Ne Okumalı </title>
    {% endblock %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
</header>
{% endblock %}

<!-- Navigation -->
{% block body %}
<style>
    html, body {
        padding-bottom: 70px;
        margin: 0;
        height: 100%;
    }
    
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Hoşgeldiniz!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Ana Sayfa
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if not logged_in  %}
                <li class="nav-item">
                    <a class="nav-link" href="login">Giriş Yap </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup"> Kaydol </a>
                </li>
                {% endif %}
                {% if logged_in %}
                <li class="nav-item">
                    <a class="nav-link" href="feed">Gönderiler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">Profilim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup"> Merhaba {{ username }} </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}

{% block footer %}
<footer class="page-footer py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ne Okumalı 2018</p>
    </div>
</footer>
{% endblock %}
{% endblock %}