{% extends 'base.html' %}

{% block title %}
<title> Anasayfa - Ne Okumalı </title>
{% endblock %}
{% block content %}
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-4 text-center">Merhaba Dost</h1>
      <p class="lead"> İyi bir kitap okuma deneyimi için hemen Ne Okumalı'ya kaydolup birçok farklı kişiyle kitaplar
        üstünden etklişime geçebilirsin.
        Eskiden yaptığın sıradan okumaları unut ve kitapların içindeki saklı olan keyfe ortak ol!
      </p>

    </header>
    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title"> Kitap Sever </h4>
            <p class="card-text">Burada sevdiğin türden kitapları bulabilir ve insanların o kitap hakkındaki
              yazdıklarına ulaşabilirsin!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary"> Hemen Kitap Bul! </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title"> Deneyimini Paylaş </h4>
            <p class="card-text"> Okuduğun kitap çok mu güzeldi? Bunu insanlarla paylaşmaya ne dersin?</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary"> Hemen bir yazı yaz!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title"> Okuma Listesi Hazırla </h4>
            <p class="card-text"> Bu yazın rus edebiyatı mı okuyacaksın, mükemmel seçim. Bunun için bir liste
              oluşturmaya ne dersin? </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary"> Okuma Listesi Hazırla</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title"> Edebiyat Severler Buluşuyor</h4>
            <p class="card-text">Çevrendeki okuma etklinliklerine katılmaya ne dersin?</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
  </div>
{% endblock %}